@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

.card {
    display: flex;
    height: 70px;
    // border: solid 1px red;
    cursor: pointer;
    background-color: rgba(16 18 27 / 40%);
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.icon {
    color: #bfe5ff;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    margin-left: 10px;


}

.card-content {
    color: #bfe5ff;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    margin: 40px;
}




  
  