:root {
    /* Cur in GPT 3 Branch! */
    --darkBlue: #1D5D9B;
    --lightBlue: #75C2F6;
    --darkGrey: #4B5E7A;
    --primYellow: #F4D160;
    --compYellow: #FBEEAC;

    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
}

.login-page {
    background: black;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 900px;
    background: linear-gradient(to right, black, transparent, black), url("../src/Assets/imageGPTLoginBG.png");
    font-family: "Roboto", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}


.login-form {
    position: relative;
    z-index: 1;
    background: var(--darkBlue);
    max-width: 300px;
    min-height: 300px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    background-image: url("../src/Assets/loginFormBG.png");
    background-repeat: no-repeat;

    /* Adjust the Form Background Color HERE! */
    background-position: center;
}

.register-form {
    position: relative;
    z-index: 1;
    background: var(--darkBlue);
    max-width: 300px;
    min-height: 300px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    background-image: url("../src/Assets/loginFormBG.png");
    background-repeat: no-repeat;

    /* Adjust the Form Background Color HERE! */
    background-position: bottom;
}



.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* color: white; */
    color: #000000;
}

.form input {
    font-family: "Montserrat", sans-serif;
    background: #f2f2f2;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #4d4d4d;
    opacity: 0.9;
}

.form input:first-of-type {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form input:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form button {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--compYellow);
    border-radius: 15px;
    opacity: 0.9;
    /* color: #FFFFFF; */
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

.RegButton.failed {
    animation: horizontal-shaking 0.3s ease-in-out 0s 2;
    color: orangered;
}

.RegFailedMSG {
    display: none;
}

.RegFailedMSG.failed {
    display: block;
    color: orangered;
}

.LoginButton.failed {
    animation: horizontal-shaking 0.3s ease-in-out 0s 2;
    color: orangered;
}

.LoginFailedMSG {
    display: none;
}

.LoginFailedMSG.failed {
    display: block;
    color: orangered;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: var(--primYellow);
    opacity: 1;
}

.form .message {
    margin: 15px 0 0;
    color: #f1ecec;
    font-size: 12px;
}

.form .message a {
    /* color: #ffe100; */

    color: blueviolet;
    text-decoration: none;
}

.form .register-form {
    min-height: 400px;
    display: none;
}

.form .login-form {
    display: none;
}

.form .visible {
    display: block;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}